.controls{
    height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle{
    display: flex;
    flex-direction: row;
}

button {
    font-size: 4rem;
    width: 20rem;
    height: 20rem;
}

@media screen and (max-width: 768px) {
    .controls{  
        height: 100%;
        display: flex;
    }  
}
