html, body {
    margin: 0; 
    height: 100%; 
    overflow: hidden
}

.submit{
    height: 3rem;
}

.submit-button{
    height: 3rem;
}

.controls{
    height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle{
    display: flex;
    flex-direction: row;
}

button {
    font-size: 2rem;
    width: 10rem;
    height: 10rem;
}

@media screen and (max-width: 768px) {
    .controls{  
        height: 100%;
        display: flex;
    }  
}
